body{
    /* background-color: black !important; */
    color: white;
    min-width: 320px;
    background-image: url("../Images/kewinsQuizzyBackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

button {
    background-color: rgb(201, 169, 102);
    color: #fff;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
}

#firstDiv{
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    width: 75%;
}

#buttonDiv{
    left: 0;
    right: 0;
    margin: 500px auto 0 auto;
    width: 75px;
}

#buttonDiv > button{
    background-color: rgb(20, 20, 20);
    border: none;
    outline: 2px rgb(80, 80, 80) solid;
    color: white;
    width: 75px;
    height: 30px;
    border-radius: 10px;
}

#buttonDiv > button:hover{
    color: cyan;
}

#buttonDiv > button:active{
    color: blue;
}

.centerText{
    text-align: center;
    margin: 25px 0 0 0;
}

#answerButtonsDiv{
    left: 0;
    right: 0;
    margin: 100px auto 75px auto;
    width: 208px;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 2px 5px; 
    grid-template-areas: 
    ". ."
    ". .";
}

#answerButtonsDiv > button{
    width: 100px;
    background-color: rgb(20, 20, 20);
    border: none;
    outline: 2px rgb(80, 80, 80) solid;
    color: white;
    height: 40px;
    border-radius: 10px;
    margin: 3px 1px;
}

#answerButtonsDiv > button:hover{
    color: cyan;
}

#answerButtonsDiv > button:active{
    color: blue;
}

#score{
    margin: 0 0 25px 0;
}

#previousAndNextQuestionButtonsDiv{
    left: 0;
    right: 0;
    margin: 0 auto 20px auto;
    width: 229px;
}

#previousAndNextQuestionButtonsDiv > button{
    width: 110px;
    background-color: rgb(20, 20, 20);
    border: none;
    outline: 2px rgb(80, 80, 80) solid;
    color: white;
    height: 30px;
    border-radius: 10px;
}

#previousAndNextQuestionButtonsDiv > button:nth-of-type(1){
    margin: 0 5px 0 0;
}

#previousAndNextQuestionButtonsDiv > button:hover{
    color: cyan;
}

#previousAndNextQuestionButtonsDiv > button:active{
    color: blue;
}

.nextQuestionButtonFirstQuestion{
    margin: 0 0 0 119px !important;
}

#summaryButtonDiv{
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    width: 270px;
}

#summaryButtonDiv > p{
    display: inline;
}

#summaryButtonDiv > input{
    display: inline;
    background-color: #141414;
    color: white;
    border: none;
    outline: 2px rgb(80, 80, 80) solid;
    border-radius: 10px;
    padding-left: 6px;
}

#summaryButtonDiv > button{
    width: 70px;
    background-color: rgb(20, 20, 20);
    border: none;
    outline: 2px rgb(80, 80, 80) solid;
    color: white;
    height: 30px;
    border-radius: 10px;
    margin: 20px 0 0 calc(50% - 35px);
}

#endScoreDivParent{
    width: 560px;
    margin: 0 auto 0 auto;
}

#endScorePDiv{
    display: inline-block;
}

#endScoreP{
    width: 70px;
}

#scorePointsDiv{
    display: inline-block;
}

#scorePointsDiv > img{
    width: 45px;
    background-color: white;
    border-radius: 30px;
}