body {
  background-color: #000 !important;
  background-image: url("../Images/osubackground.png") !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

h1 {
  margin: 10px auto;
  font-size: 42px;
  text-align: center;
  min-height: 49px;
}

body {
  font-size: 20px;
  font-family: sans-serif;
  color: #ffffff;
}

.centerText {
  text-align: center;
  margin: 25px 0 0 0;
}

.question {
  font-weight: 600;
}

.answers {
  margin-bottom: 20px;
}

#buttonDiv > button,
#answerButtonsDiv > button,
#previousAndNextQuestionButtonsDiv > button {
  background-color: transparent;
  -webkit-box-shadow: inset 0px 0px 5px 0px #9d4eddff;
          box-shadow: inset 0px 0px 5px 0px #9d4eddff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  border: 0px solid;
  display: inline-block;
  cursor: pointer;
  color: #e0aaffff;
  background-color: #000000;
  font-family: Arial;
  width: 250px;
  font-size: 17px;
  padding: 12px 21px;
  margin: 0 5px 0 0;
  text-decoration: none;
}

#buttonDiv > button:hover,
#answerButtonsDiv > button:hover,
#previousAndNextQuestionButtonsDiv > button:hover,
#summaryButtonDiv > button:hover {
  -webkit-box-shadow: inset 0px 0px 10px 0px #c77dffff;
          box-shadow: inset 0px 0px 10px 0px #c77dffff;
}

#buttonDiv,
#answerButtonsDiv,
#previousAndNextQuestionButtonsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 230px;
}

#previousAndNextQuestionButtonsDiv {
  margin: 0px 0px 0px 0px;
  height: 120px;
}

#previousAndNextQuestionButtonsDiv > button {
  margin: 0px 0px 0px 0px;
}

.nextQuestionButtonFirstQuestion {
  margin: 0 0 54px 0 !important;
}

.previousButtonLastQuestion {
  margin: 54px 0 0 0 !important;
}

#summaryButtonDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#summaryButtonDiv > p {
  display: inline;
}

#summaryButtonDiv > input {
  color: white;
  display: inline;
  background-color: black;
  -webkit-box-shadow: inset 0px 0px 5px 0px #9d4eddff;
          box-shadow: inset 0px 0px 5px 0px #9d4eddff;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0px solid;
  display: inline-block;
  font-size: 12px;
  padding: 5px 10px;
}

#summaryButtonDiv > button {
  background-color: transparent;
  -webkit-box-shadow: inset 0px 0px 5px 0px #9d4eddff;
          box-shadow: inset 0px 0px 5px 0px #9d4eddff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  border: 0px solid;
  display: inline-block;
  cursor: pointer;
  color: #e0aaffff;
  background-color: #000000;
  font-family: Arial;
  width: auto;
  font-size: 12px;
  padding: 5px 10px;
  margin: 5px 0 0 0;
  text-decoration: none;
}

#scorePointsDiv {
  width: 360px;
  margin: 0 auto 0 auto;
}

#scorePointsDiv > img {
  margin: 0 auto 0 auto;
}
