body {
  background-color: #000 !important;
  /* background-image: url("../Images/2214257.webp") !important */
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin: 10px auto;
  font-size: 42px;
  text-align: center;
  min-height: 49px;
}

body {
  font-size: 20px;
  font-family: sans-serif;
  color: #ffb300;
}

.centerText {
  text-align: center;
  margin: 25px 0 0 0;
}

.question {
  font-weight: 600;
}

.answers {
  margin-bottom: 20px;
}

#buttonDiv > button,
#answerButtonsDiv > button,
#previousAndNextQuestionButtonsDiv > button {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  background-color: #5f5f5f;
  font-family: Arial;
  font-size: 17px;
  padding: 12px 21px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

#buttonDiv > button:hover,
#answerButtonsDiv > button:hover,
#previousAndNextQuestionButtonsDiv > button:hover {
  background-color: #00ffff8e;
  color: #00ffff;
}

#buttonDiv,
#answerButtonsDiv,
#previousAndNextQuestionButtonsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
